/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Aug, 2023, 7:41:15 PM
    Author     : sarthak
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap'); 

.container{
    margin-top:30px;
}

.btn-continer{
    display:flex;
    justify-content: center;
    
}

.btn{
   margin-left:20px;
   margin-right:20px;
}
